#card {
    position: relative;
    grid-gap: 2rem;
    background: #999797;
    color: #000000;
    box-shadow: 0 4px 80px #858386;
    padding: 1.3%;
    border-radius: 5px;
}

#badge card-time {
    color: #858386;
    font-size: 10;
}

#commentContainter {
    position: relative;
    display: grid;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #c2c2c2;
    box-shadow: 0 4px 80px #070509;
    padding: 2rem;
    border-radius: 16px;
}

#commentAtteributes {
    position: relative;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #000000;
    padding: 3rem;
    border-radius: 16px;
}

#commentText {
    position: relative;
    display: block;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #c2c2c2;
    padding: 3rem;
    border-radius: 16px;
}
#submitButton {
    display: block;
    box-shadow: #2f5272;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#dropdown {
    margin: 5px;
    text-align: right;  
}

#greeting-container {
  margin-top: 20px;
}

#cycleimage {
    display: flex;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#avatar {
    display: inline;
}
#navlist a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
