#card {
    position: relative;
    grid-gap: 2rem;
    background: #999797;
    color: #000000;
    box-shadow: 0 4px 80px #858386;
    padding: 1.3%;
    border-radius: 5px;
}

#badge card-time {
    color: #858386;
    font-size: 10;
}

#commentContainter {
    position: relative;
    display: grid;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #c2c2c2;
    box-shadow: 0 4px 80px #070509;
    padding: 2rem;
    border-radius: 16px;
}

#commentAtteributes {
    position: relative;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #000000;
    padding: 3rem;
    border-radius: 16px;
}

#commentText {
    position: relative;
    display: block;
    grid-template-columns: 80px minmax(100px,1fr) 160px;
    grid-gap: 2rem;
    background: #383838;
    color: #c2c2c2;
    padding: 3rem;
    border-radius: 16px;
}
#submitButton {
    display: block;
    box-shadow: #2f5272;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
#dropdown {
    display: block;
    margin: 5px;
    text-align: right;

}

#greeting-container {
  margin-top: 20px;
}

#cycleimage {
    display: flex;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#avatar {
    display: inline;
}
#navlist a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}
#navlist1 a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}
#navlist2 a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}
#navlist3 a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}
#navlist4 a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}